@media screen and (max-width: 875px) {
    #about .main-about .about-cmn {
        flex-direction: column;
        display: flex;
        width: 100%;
    }
    .mdScreenP0 {
        padding: 0 !important;
    }
}

@media screen and (max-width: 568px) {
    .title-bg {
        font-size: 50px;
    }
}
